@page "/inventory"
@using WarehouseManager.Application.Interfaces
@using WarehouseManager.Core.Entities
@inject IInventoryItemRepository InventoryRepo

<PageTitle>Inventory</PageTitle>

<h1>Warehouse Inventory</h1>

@if (items is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Description</th>
            <th>Quantity</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in items)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Name</td>
                <td>@item.Description</td>
                <td>@item.Quantity</td>
            </tr>
        }
        </tbody>
    </table>
}

@code {
    private IEnumerable<InventoryItem>? items;

    protected override async Task OnInitializedAsync()
    {
        // Fetch the data from the repository and assign it to your variable.
        items = await InventoryRepo.GetAllAsync();
    }
}