.event-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 1.5rem;
}

.event-card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-left: 5px solid;
    padding: 1rem;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-content {
    flex-grow: 1;
}

.card-actions {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    display: flex;
    gap: 0.5rem;
}

.card-footer-actions {
    padding-top: 1rem; /* Add some space above the button */
    border-top: 1px solid #eee;
    margin-top: 1rem;
}

.card-footer-actions .btn {
    width: 100%;
}


.card-title {
    margin-top: 0;
    font-size: 1.3rem;
    margin-bottom: 1rem;
    color: #333;
}

.card-detail {
    font-size: 1.1rem;
    color: #000000;
    margin-bottom: 0.5rem;
    display: flex;
    align-items: center;
}

.card-detail i {
    margin-right: 0.5rem;
    color: #888;
    width: 16px; /* Align icons */
}

.btn-icon {
    background: none;
    border: none;
    color: #aaa;
    cursor: pointer;
    font-size: 1rem;
    padding: 0.25rem 0.5rem;
    border-radius: 50%;
    transition: all 0.2s ease-in-out;
}

.btn-icon:hover {
    color: #333;
    background-color: #f0f0f0;
}

.btn-delete:hover {
    color: #dc3545;
    background-color: #f8d7da;
}